<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/DimensionCSS.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/candle.css">
    <link rel="stylesheet" href="/static/css/flakeTopping.css">
    <link rel="stylesheet" href="/static/css/creamCherryTopping.css">
    <link rel="stylesheet" href="/static/css/berryTopping.css">
    <link rel="stylesheet" href="/static/css/cakeForm.css">
    <title>Happy Birthday!</title>
</head>
<body>
<div class="canvas">
    <div class="globalLight"></div>
    <div class="globalCamera">
        <div class="cake">
            <div class="cakeLevel">
                <div class="cakeBase">
                    <div class="cakeBase1 reusableBox"></div>
                    <div class="cakeBase12 reusableBox"></div>
                    <div class="cakeBase2 reusableBox"></div>
                    <div class="cakeBase11 reusableBox"></div>
                    <div class="cakeBase3 reusableBox"></div>
                    <div class="cakeBase10 reusableBox"></div>
                    <div class="cakeBase4 reusableBox"></div>
                    <div class="cakeBase5 reusableBox"></div>
                    <div class="cakeBase8 reusableBox"></div>
                    <div class="cakeBase9 reusableBox"></div>
                    <div class="cakeBase7 reusableBox"></div>
                </div>
                <div class="cakeBase cakeIcing">
                    <div class="cakeBase1 reusableBox"></div>
                    <div class="cakeBase12 reusableBox"></div>
                    <div class="cakeBase2 reusableBox"></div>
                    <div class="cakeBase11 reusableBox"></div>
                    <div class="cakeBase3 reusableBox"></div>
                    <div class="cakeBase10 reusableBox"></div>
                    <div class="cakeBase4 reusableBox"></div>
                    <div class="cakeBase5 reusableBox"></div>
                    <div class="cakeBase8 reusableBox"></div>
                    <div class="cakeBase9 reusableBox"></div>
                    <div class="cakeBase7 reusableBox"></div>
                </div>
                <div class="cakeTopping creamCherryTopping">
                    <div class="creamCherry">
                        <div class="creamBase creamBase1 reusableBox"></div>
                        <div class="creamBase creamBase2 reusableBox"></div>
                        <div class="creamBase creamBase3 reusableBox"></div>
                        <div class="cherry">
                            <div class="cherryBox1 reusableBox"></div>
                            <div class="cherryBox2 reusableBox"></div>
                            <div class="cherryBox3 reusableBox"></div>
                            <div class="cherryStem cherryStem1 reusableBox"></div>
                            <div class="cherryStem cherryStem2 reusableBox"></div>
                        </div>
                    </div>
                    <div class="creamCherry">
                        <div class="creamBase creamBase1 reusableBox"></div>
                        <div class="creamBase creamBase2 reusableBox"></div>
                        <div class="creamBase creamBase3 reusableBox"></div>
                        <div class="cherry">
                            <div class="cherryBox1 reusableBox"></div>
                            <div class="cherryBox2 reusableBox"></div>
                            <div class="cherryBox3 reusableBox"></div>
                            <div class="cherryStem cherryStem1 reusableBox"></div>
                            <div class="cherryStem cherryStem2 reusableBox"></div>
                        </div>
                    </div>
                    <div class="creamCherry">
                        <div class="creamBase creamBase1 reusableBox"></div>
                        <div class="creamBase creamBase2 reusableBox"></div>
                        <div class="creamBase creamBase3 reusableBox"></div>
                        <div class="cherry">
                            <div class="cherryBox1 reusableBox"></div>
                            <div class="cherryBox2 reusableBox"></div>
                            <div class="cherryBox3 reusableBox"></div>
                            <div class="cherryStem cherryStem1 reusableBox"></div>
                            <div class="cherryStem cherryStem2 reusableBox"></div>
                        </div>
                    </div>
                    <div class="creamCherry">
                        <div class="creamBase creamBase1 reusableBox"></div>
                        <div class="creamBase creamBase2 reusableBox"></div>
                        <div class="creamBase creamBase3 reusableBox"></div>
                        <div class="cherry">
                            <div class="cherryBox1 reusableBox"></div>
                            <div class="cherryBox2 reusableBox"></div>
                            <div class="cherryBox3 reusableBox"></div>
                            <div class="cherryStem cherryStem1 reusableBox"></div>
                            <div class="cherryStem cherryStem2 reusableBox"></div>
                        </div>
                    </div>
                    <div class="creamCherry">
                        <div class="creamBase creamBase1 reusableBox"></div>
                        <div class="creamBase creamBase2 reusableBox"></div>
                        <div class="creamBase creamBase3 reusableBox"></div>
                        <div class="cherry">
                            <div class="cherryBox1 reusableBox"></div>
                            <div class="cherryBox2 reusableBox"></div>
                            <div class="cherryBox3 reusableBox"></div>
                            <div class="cherryStem cherryStem1 reusableBox"></div>
                            <div class="cherryStem cherryStem2 reusableBox"></div>
                        </div>
                    </div>
                    <div class="creamCherry">
                        <div class="creamBase creamBase1 reusableBox"></div>
                        <div class="creamBase creamBase2 reusableBox"></div>
                        <div class="creamBase creamBase3 reusableBox"></div>
                        <div class="cherry">
                            <div class="cherryBox1 reusableBox"></div>
                            <div class="cherryBox2 reusableBox"></div>
                            <div class="cherryBox3 reusableBox"></div>
                            <div class="cherryStem cherryStem1 reusableBox"></div>
                            <div class="cherryStem cherryStem2 reusableBox"></div>
                        </div>
                    </div>
                    <div class="creamCherry">
                        <div class="creamBase creamBase1 reusableBox"></div>
                        <div class="creamBase creamBase2 reusableBox"></div>
                        <div class="creamBase creamBase3 reusableBox"></div>
                        <div class="cherry">
                            <div class="cherryBox1 reusableBox"></div>
                            <div class="cherryBox2 reusableBox"></div>
                            <div class="cherryBox3 reusableBox"></div>
                            <div class="cherryStem cherryStem1 reusableBox"></div>
                            <div class="cherryStem cherryStem2 reusableBox"></div>
                        </div>
                    </div>
                    <div class="creamCherry">
                        <div class="creamBase creamBase1 reusableBox"></div>
                        <div class="creamBase creamBase2 reusableBox"></div>
                        <div class="creamBase creamBase3 reusableBox"></div>
                        <div class="cherry">
                            <div class="cherryBox1 reusableBox"></div>
                            <div class="cherryBox2 reusableBox"></div>
                            <div class="cherryBox3 reusableBox"></div>
                            <div class="cherryStem cherryStem1 reusableBox"></div>
                            <div class="cherryStem cherryStem2 reusableBox"></div>
                        </div>
                    </div>
                </div>
                <div class="cakeTopping flakeTopping">
                    <div class="cakeFlake blueFlake reusableBox"></div>
                    <div class="cakeFlake blueFlake reusableBox"></div>
                    <div class="cakeFlake blueFlake reusableBox"></div>
                    <div class="cakeFlake blueFlake reusableBox"></div>
                    <div class="cakeFlake blueFlake reusableBox"></div>
                    <div class="cakeFlake redFlake reusableBox"></div>
                    <div class="cakeFlake redFlake reusableBox"></div>
                    <div class="cakeFlake redFlake reusableBox"></div>
                    <div class="cakeFlake redFlake reusableBox"></div>
                    <div class="cakeFlake redFlake reusableBox"></div>
                    <div class="cakeFlake greenFlake reusableBox"></div>
                    <div class="cakeFlake greenFlake reusableBox"></div>
                    <div class="cakeFlake greenFlake reusableBox"></div>
                    <div class="cakeFlake greenFlake reusableBox"></div>
                    <div class="cakeFlake greenFlake reusableBox"></div>
                    <div class="cakeFlake goldFlake reusableBox"></div>
                    <div class="cakeFlake goldFlake reusableBox"></div>
                    <div class="cakeFlake goldFlake reusableBox"></div>
                    <div class="cakeFlake goldFlake reusableBox"></div>
                    <div class="cakeFlake goldFlake reusableBox"></div>
                    <div class="cakeFlake blueFlake reusableBox"></div>
                    <div class="cakeFlake redFlake reusableBox"></div>
                    <div class="cakeFlake greenFlake reusableBox"></div>
                    <div class="cakeFlake goldFlake reusableBox"></div>
                </div>
                <div class="cakeTopping berryTopping">
                    <div class="raspberries">
                        <div class="raspberry">
                            <div class="raspberryBox1 reusableBox"></div>
                            <div class="raspberryBox2 reusableBox"></div>
                            <div class="raspberryBox3 reusableBox"></div>
                        </div>
                        <div class="raspberry">
                            <div class="raspberryBox1 reusableBox"></div>
                            <div class="raspberryBox2 reusableBox"></div>
                            <div class="raspberryBox3 reusableBox"></div>
                        </div>
                        <div class="raspberry">
                            <div class="raspberryBox1 reusableBox"></div>
                            <div class="raspberryBox2 reusableBox"></div>
                            <div class="raspberryBox3 reusableBox"></div>
                        </div>
                        <div class="raspberry">
                            <div class="raspberryBox1 reusableBox"></div>
                            <div class="raspberryBox2 reusableBox"></div>
                            <div class="raspberryBox3 reusableBox"></div>
                        </div>
                        <div class="raspberry">
                            <div class="raspberryBox1 reusableBox"></div>
                            <div class="raspberryBox2 reusableBox"></div>
                            <div class="raspberryBox3 reusableBox"></div>
                        </div>
                        <div class="raspberry">
                            <div class="raspberryBox1 reusableBox"></div>
                            <div class="raspberryBox2 reusableBox"></div>
                            <div class="raspberryBox3 reusableBox"></div>
                        </div>
                        <div class="raspberry">
                            <div class="raspberryBox1 reusableBox"></div>
                            <div class="raspberryBox2 reusableBox"></div>
                            <div class="raspberryBox3 reusableBox"></div>
                        </div>
                        <div class="raspberry">
                            <div class="raspberryBox1 reusableBox"></div>
                            <div class="raspberryBox2 reusableBox"></div>
                            <div class="raspberryBox3 reusableBox"></div>
                        </div>
                    </div>
                    <div class="blueberries">
                        <div class="blueberry">
                            <div class="blueberryRotate">
                                <div class="blueberryBox1 reusableBox"></div>
                                <div class="blueberryBox2 reusableBox"></div>
                                <div class="blueberryBox3 reusableBox"></div>
                            </div>
                        </div>
                        <div class="blueberry">
                            <div class="blueberryRotate">
                                <div class="blueberryBox1 reusableBox"></div>
                                <div class="blueberryBox2 reusableBox"></div>
                                <div class="blueberryBox3 reusableBox"></div>
                            </div>
                        </div>
                        <div class="blueberry">
                            <div class="blueberryRotate">
                                <div class="blueberryBox1 reusableBox"></div>
                                <div class="blueberryBox2 reusableBox"></div>
                                <div class="blueberryBox3 reusableBox"></div>
                            </div>
                        </div>
                        <div class="blueberry">
                            <div class="blueberryRotate">
                                <div class="blueberryBox1 reusableBox"></div>
                                <div class="blueberryBox2 reusableBox"></div>
                                <div class="blueberryBox3 reusableBox"></div>
                            </div>
                        </div>
                        <div class="blueberry">
                            <div class="blueberryRotate">
                                <div class="blueberryBox1 reusableBox"></div>
                                <div class="blueberryBox2 reusableBox"></div>
                                <div class="blueberryBox3 reusableBox"></div>
                            </div>
                        </div>
                        <div class="blueberry">
                            <div class="blueberryRotate">
                                <div class="blueberryBox1 reusableBox"></div>
                                <div class="blueberryBox2 reusableBox"></div>
                                <div class="blueberryBox3 reusableBox"></div>
                            </div>
                        </div>
                        <div class="blueberry">
                            <div class="blueberryRotate">
                                <div class="blueberryBox1 reusableBox"></div>
                                <div class="blueberryBox2 reusableBox"></div>
                                <div class="blueberryBox3 reusableBox"></div>
                            </div>
                        </div>
                        <div class="blueberry">
                            <div class="blueberryRotate">
                                <div class="blueberryBox1 reusableBox"></div>
                                <div class="blueberryBox2 reusableBox"></div>
                                <div class="blueberryBox3 reusableBox"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="candleText" text="64"></div>
        </div>
    </div>
</div>
<form class="createCakeForm">
    <% for (let cakePropertyName of Object.keys(cakeData)) { %>
        <% let cakeProperty = cakeData[cakePropertyName]; %>
        <% if (cakeProperty.inputType === "choice") { %>
            <label>
                <span><%= cakeProperty.inputDescription %></span>
                <select name=<%= cakePropertyName %>>
                    <% for (let validChoice of cakeProperty.validChoices) { %>
                        <option value=<%= validChoice.value %>>
                            <%= validChoice.description %>
                        </option>
                    <% } %>
                </select>
            </label>
        <% } else { %>
            <label>
                <span><%= cakeProperty.inputDescription %></span>
                <input name=<%= cakePropertyName %> type=<%= cakeProperty.inputType %>
                       value=<%= cakeProperty.default %>>
            </label>
        <% } %>
    <% } %>
    <input class="finalizeCreateCakeButton" type="submit" value="Create!">
</form>
<form class="editCakeForm" novalidate>
    <% for (let cakePropertyName of Object.keys(cakeData)) { %>
        <% let cakeProperty = cakeData[cakePropertyName]; %>
        <% if (cakeProperty.inputType === "choice") { %>
            <label>
                <span><%= cakeProperty.inputDescription %></span>
                <select name=<%= cakePropertyName %>>
                    <% for (let validChoice of cakeProperty.validChoices) { %>
                        <option value=<%= validChoice.value %>>
                            <%= validChoice.description %>
                        </option>
                    <% } %>
                </select>
            </label>
        <% } else { %>
            <label>
                <span><%= cakeProperty.inputDescription %></span>
                <input name=<%= cakePropertyName %> type=<%= cakeProperty.inputType %>
                       value=<%= cakeProperty.default %>>
                <% if (cakeProperty.allowRainbow) { %>
                    <button class="makeThisRainbow"></button>
                <% } %>
            </label>
        <% } %>
    <% } %>
    <input class="finalizeEditCakeButton" type="submit" value="Update!">
    <button class="finalizeEditCakeButton delete">Delete!</button>
</form>
<form class="getCakeForm">
    <label for="getCakeID">
        What's your cake ID?
    </label>
    <fieldset class="getCakeInput">
        <input type="text" id="getCakeID" placeholder="A code of 24 letters and digits." required
               pattern="[a-zA-Z0-9]{24}">
        <input type="submit" value="Go!">
    </fieldset>
    <span class="message"></span>
</form>
<section class="cakeIDOverlay">
    <div class="cakeIDOverlayWindow">
        <h3>Your cake is finished! Here's the ID:</h3>
        <span class="newCakeID" id="cakeID"></span>
    </div>
</section>
</body>
<code id="directCakeID" hidden>
    <% try { %>
        <%= cakeID %>
    <% } catch (e) { %>
    <% } %>
</code>
<script src=<%= scriptLocation %>></script>
</html>